.form {
  width: 100%;
  max-width: 580px;
  padding: 60px 60px 74px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2.9743590354919434px 74.35897827148438px 0px rgba(0, 0, 0, 0.1);
  color: #000;
  text-align: center;
  min-height: 630px;

  &__title {
    text-align: center;
    font-size: 32px;
    font-family: 'Neue Machina', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__text {
    text-align: center;
    font-size: 19px;
    line-height: 145%;
    margin-bottom: 50px;
  }

  &__inputs {
    width: 100%;
    margin-bottom: 43px;
  }

  &__input-block {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    font-family: var(--font-text);
    font-weight: 300;
    font-size: 14.8718px;
    line-height: 145%;
    width: 100%;
    border-radius: 7.35px;
    border: 0.744px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 24px 23px;
    transition: 0.3s;

    &:focus {
      //   outline: 0.74359px solid rgba(0, 0, 0, 0.5);
      outline: 0;
      border: 0.74359px solid rgba(0, 0, 0, 0.5);
    }

    &::placeholder {
      font-family: var(--font-text);
      font-weight: 300;
      font-size: 14.8718px;
      line-height: 145%;
      color: #000000;
      opacity: 0.6;
    }

    &.novalid {
      border: 0.74359px solid #ea3030;
      & + .form__input-text {
        display: block;
      }
    }
  }

  &__input-text {
    font-weight: 400;
    font-size: 14.8718px;
    line-height: 145%;
    color: #ea3030;
    text-align: left;
    position: absolute;
    left: 24px;
    top: calc(100% + 3px);
    display: none;

    &.novalid {
      display: block;
    }
  }

  &__btn {
    .btn {
      font-size: 20px;
      padding: 25px 10px;
    }
  }
}

@media (max-width: 600px) {
  .form {
    padding: 65px 20px 50px;
  }
}

@media (max-width: 500px) {
  .form {
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
